<config>
    <assets>
        <item name="General Electric">
            <ticker>GE</ticker>
            <averagePrice>12.48</averagePrice>
            <shareCount>480</shareCount>
        </item>
        <item name="JD.com">
            <ticker>013C.F</ticker>
            <averagePrice>25.05</averagePrice>
            <shareCount>30</shareCount>
        </item>
        <item name="NIO">
            <ticker>N3IA.F</ticker>
            <averagePrice>23.93</averagePrice>
            <shareCount>50</shareCount>
        </item>
        <item name="NEL">
            <ticker>D7G.F</ticker>
            <averagePrice>1.531</averagePrice>
            <shareCount>400</shareCount>
        </item>
        <item name="Anheuser-Busch Inbev">
            <ticker>1NBA.DE</ticker>
            <averagePrice>51.98</averagePrice>
            <shareCount>20</shareCount>
        </item>
    </assets>
    <indices>
        <index name="DAX">
            <ticker>^GDAXI</ticker>
        </index>
        <index name="ATX">
            <ticker>^ATX</ticker>
        </index>
        <index name="DOW">
            <ticker>^DJI</ticker>
        </index>
        <index name="NASDAQ">
            <ticker>^IXIC</ticker>
        </index>
        <index name="ESTOXX50">
            <ticker>^STOXX50E</ticker>
        </index>
        <index name="NIKKEI">
            <ticker>^N225</ticker>
        </index>
        <index name="BTC">
            <ticker>BTC-EUR</ticker>
        </index>
    </indices>
    <settings>
        <displayTimeFullList> 60 </displayTimeFullList>
        <displayTimeList> 30 </displayTimeList>
        <displayTimeSingle> 10 </displayTimeSingle>
    </settings>
</config>

