<config>
    <assets>
        <item name="Teamviewer">
            <ticker>TMV.DE</ticker>
            <averagePrice>32.08</averagePrice>
            <shareCount>320</shareCount>
        </item>
        <item name="Uniqa">
            <ticker>UQA.VI</ticker>
            <averagePrice>8.919</averagePrice>
            <shareCount>500</shareCount>
        </item>
        <item name="AMS AG">
            <ticker>AMS.VI</ticker>
            <averagePrice>10</averagePrice>
            <shareCount>300</shareCount>
        </item>
        <item name="TUI">
            <ticker>TUI1.DE</ticker>
            <averagePrice>2.797</averagePrice>
            <shareCount>1100</shareCount>
        </item>
        <item name="Viscom">
            <ticker>V6C.DE</ticker>
            <averagePrice>8.7</averagePrice>
            <shareCount>300</shareCount>
        </item>
        <item name="RWE">
            <ticker>RWE.F</ticker>
            <averagePrice>23.261</averagePrice>
            <shareCount>350</shareCount>
        </item>
        <item name="Bank of America">
            <ticker>NCB.DE</ticker>
            <averagePrice>20.955</averagePrice>
            <shareCount>100</shareCount>
        </item>
        <item name="Colgate-Palmolive">
            <ticker>CPA.DE</ticker>
            <averagePrice>65.09</averagePrice>
            <shareCount>45</shareCount>
        </item>
        <item name="NEL">
            <ticker>D7G.F</ticker>
            <averagePrice>1.731</averagePrice>
            <shareCount>300</shareCount>
        </item>
        <item name="Anheuser-Busch Inbev">
            <ticker>1NBA.DE</ticker>
            <averagePrice>61.98</averagePrice>
            <shareCount>10</shareCount>
        </item>
    </assets>
    <indices>
        <index name="DAX">
            <ticker>^GDAXI</ticker>
        </index>
        <index name="ATX">
            <ticker>^ATX</ticker>
        </index>
        <index name="DOW">
            <ticker>^DJI</ticker>
        </index>
        <index name="NASDAQ">
            <ticker>^IXIC</ticker>
        </index>
        <index name="ESTOXX50">
            <ticker>^STOXX50E</ticker>
        </index>
        <index name="NIKKEI">
            <ticker>^N225</ticker>
        </index>
        <index name="BTC">
            <ticker>BTC-EUR</ticker>
        </index>
        <index name="Cardano">
            <ticker>ADA-EUR</ticker>
        </index>
        <index name="Ethereum">
            <ticker>ETH-EUR</ticker>
        </index>
    </indices>
    <settings>
        <displayTimeFullList> 60 </displayTimeFullList>
        <displayTimeList> 30 </displayTimeList>
        <displayTimeSingle> 10 </displayTimeSingle>
        <xResolution> 640 </xResolution>
        <yResolution> 480 </yResolution>
    </settings>
</config>
